<div class="container">
    <div class="row">
        <p>We have 731 superheros -- enter a number to check it out:</p>
        <input class="col" type="number" [(ngModel)]="heroId">
        <button class="btn btn-primary" (click)="getHeroFromApi(heroId)">Find a Superhero</button>
    </div>
    <div class="row">
        <p>More Superheros?</p>
        <button class="btn btn-primary" (click)="getHeroList()">Superhero Database</button>
    </div>
    <table class="table" *ngIf="superheroes">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Full-Name</th>
                <th scope="col">Alignment</th>
                <th scope="col">Occupation</th>
                <th scope="col">Affiliation</th>
                <th scope="col">PowerStats</th>
            </tr>
        </thead>
        <tbody *ngFor="let superhero of superheroes">
            <tr>
                <td>{{superhero.id}}</td>
                <td><img src={{superhero.image.url}}></td>
                <td>{{superhero.name}}</td>
                <td *ngIf="superhero.biography.full-name">
                    {{superhero.biography.full-name}}
                </td>
                <td>
                    {{superhero.biography.alignment}}
                </td>
                <td *ngIf="superhero.biography.full-name">
                    {{superhero.work.occupation}}
                </td>
                <td>
                    {{superhero.powerstats}}
                </td>
            </tr>
        </tbody>
    </table>

</div>