<body>
    <div style="padding: 13px;" *ngIf="user">
        <h2>User Info:</h2>
        <mat-card style="margin-top:10px;" (click)="getUserBattles(user.username)">
            <mat-card-header>
                <mat-card-title style="text-transform: capitalize;">{{user.first}} {{user.last}}</mat-card-title>
                <mat-card-subtitle>User ID: {{user.userId}}</mat-card-subtitle>
                <img mat-card-avatar src="{{avurl + user.userId}}" />
            </mat-card-header>
            <mat-card-content>
                <p>Username: {{user.username}}
                </p>
                <!-- <p>Record: {{user.userRecord}} %
                </p>
                <p>Number of Battles Played: {{user.userWins+user.userLosses}}</p> -->
            </mat-card-content>
        </mat-card>
    </div>

    <div class="container">
        <div class="row">
            <h2>Update User Info: </h2>
            <div class="row" id="formdiv" style="align-content: center;">
                <div class="col-3-sm" style="padding:20px;">
                    <label class="label" for="username">Username:</label>
                    <input type="text" class="form-control" [(ngModel)]="username" required>
                </div>
                <div class="col-3-sm" style="padding:20px;">
                    <label class="label" for="password">Password:</label>
                    <input type="text" class="form-control" [(ngModel)]="password" type="password" required>
                </div>
                <div class="col-3-sm" style="padding:20px;">
                    <label class="label" for="first">First Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="first" required>
                </div>
                <div class="col-3-sm" style="padding:20px;">
                    <label class="label" for="last">Last Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="last" required>
                </div>
            </div>

        </div>
        <div class="row" id="formbtn" style="align-content: center;">
            <button class="btn btn-success" id="registerbtn" (click)="update()"> Update </button>
        </div>
    </div>
</body>