<div main="container">
    <div class="row-4">
        <div class="col-6">
            <br>
            <br>
            <label>Check out scores:</label>
            <br>
            <br>
            <!-- <button class="md-raised md-cornered" (click)="getOneUserRecord()">Button</button> -->
            <button class=" btn btn-primary " (click)="getOneUserRecord() ">See my battle records</button>
            <br>
            <br>
            <button class="btn btn-primary " (click)="getUserRecords() ">See all user records</button>



        </div>
    </div>
    <div style="padding: 13px; " *ngIf="allUserRecords ">
        <h2>User Records:</h2>
        <mat-card *ngFor="let user of allUserRecords " style="margin-top:10px; " (click)="getUserBattles(user.username) ">
            <mat-card-header>
                <mat-card-title style="text-transform: capitalize; ">{{user.first}} {{user.last}}</mat-card-title>
                <mat-card-subtitle>User ID: {{user.userId}}</mat-card-subtitle>
                <img mat-card-avatar src="{{avurl + user.userId}} " />
            </mat-card-header>
            <mat-card-content>
                <p>Record: {{user.userRecord}} %
                </p>
                <p>Number of Battles Played: {{user.userWins+user.userLosses}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="padding: 13px; " *ngIf="userBattles ">
        <h2>Past Battles:</h2>
        <mat-card *ngFor="let battle of userBattles " style="margin-top:10px; background-color:darkolivegreen; ">
            <mat-card-header>
                <mat-card-title style="text-transform: capitalize; ">{{battle.battleId}}</mat-card-title>
                <mat-card-subtitle>Outcome: {{battle.outcomes}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Avatar: {{battle.avatar}}
                </p>
                <p>Opponent: {{battle.opponent}}</p>
            </mat-card-content>
        </mat-card>

    </div>
</div>
<!--
<div class="row " id="formdiv ">
<div class="col-4-sm ">
    <table class="table " *ngIf="userRecords ">
        <thead>
            <tr>
                <th scope="col ">ID</th>
                <th scope="col ">First Name</th>
                <th scope="col ">Last Name</th>
                <th scope="col ">User Record</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of userRecords ">
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>
                {{user[2]}}
            </td>
            <td>
                {{user[3]}}
            </td>
        </tbody>
    </table>
</div>
</div> -->