<div class="container" id="fullcontainer">
    <div class="row" id="about-row">
        <h1>Superhero • Showdown</h1>
        <p>
            This is our application.
        </p>
    </div>
    <div>
        <button id="loginbtn" class="btn btn-success"><a routerLink="/services/login"></a>Login</button>
        <button id="registerbtn" class="btn btn-success"><a routerLink="/services/registration"></a>Registration</button>
        <!-- <button id="showdownbtn" class="btn btn-success"><a routerLink="/services/showdown"></a>Try Once</button> -->
    </div>

</div>